{% extends 'base.html.twig' %}

{% block title %}OneUrban | Mot de passe oubliée ?{% endblock %}

{% block auth %}
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>One</b>Urban</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Trouvez votre compte</p>
        <p class="login-box-msg">Veuillez entrer votre e-mail pour rechercher votre compte.</p>
        {% for flashMessage in app.flashes('success') %}
            <div class="alert alert-success">{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.flashes('danger') %}
            <div class="alert alert-danger">{{ flashMessage }}</div>
        {% endfor %}
        <div class="login-container">
            <form method="POST" action="{{ path('forgot_password') }}">
                <div class="form-group has-feedback">
                    <input class="form-control" type="email" id="email" name="email" autofocus placeholder="Email" required />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button style="margin-left:90px;width:120px;" type="submit" class="btn btn-primary btn-block btn-flat">Envoyer</button>
                    </div>
                </div>
            </form>
            <br>
            <div align="center" class="create-account">
                <p>Vous avez un compte ? <a href="{{ path('login') }}">Se connecter.</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
