{% extends 'baseFront.html.twig' %}

{% block title %}OneUrban | Ajouter une Réclamation{% endblock %}

{% block body %}
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <h1 class="mb-3">| Ajouter une Réclamation</h1>
    </div>
    <div class="row g-4">
        <div align="center">
            {{ include('reclamation/_formFront.html.twig') }}
        </div>
    </div>
{% endblock %}
