{% extends 'baseBack.html.twig' %}

{% block title %}OneUrban | Dashboard | Modifier un Billet{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header">
                <h3 class="box-title">| Modifier un Billet</h3>
            </div>
            <div class="box-body">
                {{ include('billet/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
{% endblock %}
